name: Build
on:
  push:
    branches:
      - main
jobs:

  build:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-24.04]
        targetplatform: [x64]

    runs-on: ${{ matrix.os }}
    environment: production
    env:
      GOOS: js
      GOARCH: wasm
      GO111MODULE: on
    steps:

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
        cache: false

    - name: Checkout code
      uses: actions/checkout@v6

    - name: Get dependencies
      working-directory: ./cmd
      run: |
        go vet ./...

    - name: Test
      run: |
        cd cmd
        GOOS=js GOARCH=wasm GO111MODULE=on go test -exec="$(go env GOROOT)/lib/wasm/go_js_wasm_exec" -v ./... -coverprofile="coverage.txt" -covermode=atomic

    - name: Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        directory: ./cmd
        files: coverage.txt
        flags: unittests
        name: codecov-umbrella

    - name: Build WASM
      run: |
        cd cmd
        GOOS=js GOARCH=wasm GO111MODULE=on CGO_ENABLED=0 go build -v -a -ldflags="-w -s" -gcflags=-trimpath="$(go env GOPATH)" -asmflags=-trimpath="$(go env GOPATH)" -o ../dist/excelize.wasm main.go
        gzip -f --best ../dist/excelize.wasm

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 20.19.6

    - name: NPM Build
      run: |
        npm ci
        node ./node_modules/.bin/rollup -c
        cp LICENSE ./dist
        cp README.md ./dist
        cp package.json ./dist
        cp src/index.d.ts ./dist

    - name: Upload Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: excelize-wasm
        path: dist/

  publish:
    needs: build
    runs-on: ubuntu-24.04
    environment: production
    permissions:
      contents: read
      id-token: write
    steps:

    - name: Download Artifacts
      uses: actions/download-artifact@v7
      with:
        name: excelize-wasm
        path: dist/

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 20.19.6
        registry-url: 'https://registry.npmjs.org'

    - name: NPM Publish
      run: |
        cd dist
        npm install -g npm@latest
        npm publish
